html body{
    background-color: white;
    margin: 0px;
    padding:0px;
}
/* navegation bar */
a[aria-expanded="true"],
.active{
    color: #ff0000b0 !important;
}
.navbar-brand:hover {
    color:black !important
}
/* navegation bar */
